.toolbarPane{
	-fx-pref-height: 40;
	-fx-border-width: 2 0 1 0;
	-fx-border-color: #d9d9d9;
}
.statusBarPane{
	-fx-pref-height: 30;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #d9d9d9;
}
.buttonPane{
	-fx-pref-height: 60;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #d9d9d9;
}
#toolbar{
	-fx-background-color: #ffffff;
}
.tree-view{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
}
#plus-button{
	-fx-background-color: #ffffff;
}
#left-button{
	-fx-background-color: #ffffff;
}
#select-button{
	-fx-min-height: 20px;
    -fx-min-width: 23px;
	-fx-background-color: #ffffff;
	-fx-background-image: url('select-tool.png');
	-fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
	-fx-background-position: center 3px;
}
#right-button{
	-fx-background-color: #ffffff;
}
#center-pane{
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #d9d9d9;
	-fx-background-color: #ffffff;
}
#border-pane{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
	-fx-background-color: #ffffff;
}
#delete-button{
	-fx-background-color: #ffffff;
}
#plus-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
#delete-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
#left-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
#select-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
#right-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
.title{
	-fx-font-size: 30;
	-fx-font-family: Arial;
	-fx-font-style: italic;
}
.common-name{
	-fx-font-size: 18;
	-fx-font-family: Arial;
}
/* .table-column{
	-fx-background-color: #ffffff;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
}*/
.green-fill{
	-fx-stroke: #2eb82e;
	-fx-fill: #2eb82e;
}
.plantOwned{
	-fx-font-size: 15;
	-fx-font-family: Arial;
	-fx-text-fill: #2eb82e;
	-fx-font-weight: bold;
}
.red-fill{
	-fx-stroke: #ff0000;
	-fx-fill: #ff0000;
}
.plant-not-owned{
	-fx-font-size: 15;
	-fx-font-family: Arial;
	-fx-text-fill: #ff0000;
	-fx-font-weight: bold;
}
.prompt-label{
	-fx-font-size: 14;
}
#pricelist-table .table-column{
	-fx-alignment: center;
}
.transparent-brown{
	-fx-opacity: 0.5;
	-fx-fill: #663300;
}
.transparent-green{
	-fx-opacity: 0.5;
	-fx-fill: #00aa00;
}

.transparent-darkbrown{
	-fx-opacity: 0.5;
	-fx-fill: #331100;
}

.transparent-yellow{
	-fx-opacity: 0.5;
	-fx-fill: #aaaa00;
}

.transparent-red{
	-fx-opacity: 0.5;
	-fx-fill: #aa0000;
}

.transparent-blue{
	-fx-opacity: 0.5;
	-fx-fill: #0000aa;
}