.toolbarPane{
	-fx-pref-height: 40;
	-fx-border-width: 2 0 1 0;
	-fx-border-color: #d9d9d9;
}
.statusBarPane{
	-fx-pref-height: 30;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #d9d9d9;
}
.buttonPane{
	-fx-pref-height: 60;
	-fx-border-width: 1 0 0 0;
	-fx-border-color: #d9d9d9;
}
#toolbar{
	-fx-background-color: #f5f5f0;
}
.tree-view{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
}

#plus-button, #delete-button, #left-button, #right-button, #pricelist-button, #select-button, #draw-tool, #save-button, #print-button,
#edit-button, #clear-button, #search-button, #refresh-button{
	-fx-min-height: 20px;
    -fx-min-width: 23px;
	-fx-background-color: #f5f5f0;
	-fx-background-size: 18px 18px;
    -fx-background-repeat: no-repeat;
	-fx-background-position: center 3px;
}

#plus-button{
	-fx-background-image: url('add.png');
}
#left-button{
	-fx-background-image: url('left.png');
}
#pricelist-button{
	-fx-background-image: url('pricelist.png');
}
#select-button{
	-fx-background-image: url('select.png');
}
#draw-tool{
	-fx-background-image: url('draw.png');
}
#right-button{
	-fx-background-image: url('right.png');
}
#center-pane{
	-fx-border-width: 1 0 1 1;
	-fx-border-color: #d9d9d9;
	-fx-background-color: #f5f5f0;
}
#border-pane{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
	-fx-background-color: #ffffff;
}
#delete-button{
	-fx-background-image: url('delete.png');
}
#save-button{
	-fx-background-image: url('save.png');
}
#print-button{
	-fx-background-image: url('print.png');
}
#edit-button{
	-fx-background-image: url('modify.png');
}
#search-button{
	-fx-background-image: url('search.png');
}
#refresh-button{
	-fx-background-image: url('refresh.png');
}
#load-button{
	-fx-min-height: 20px;
    -fx-min-width: 23px;
	-fx-background-color: #f5f5f0;
	-fx-background-image: url('load.png');
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
}
#clear-button{
	-fx-background-image: url('clear.png');
}
#catalogue-button{
	-fx-min-height: 200px;
    -fx-min-width: 200px;
	-fx-background-color: #ffffff;
	-fx-background-image: url('catalogue.png');
	-fx-background-size: 128px 128px;
    -fx-background-repeat: no-repeat;
	-fx-background-position: center 45px;
}
#left-button:hover, #right-button:hover, #select-button:hover, #draw-tool:hover, #plus-button:hover, #delete-button:hover, #pricelist-button:hover, #edit-button:hover,
#save-button:hover, #print-button:hover, #search-button:hover, #refresh-button:hover, #load-button:hover, #clear-button:hover,
#catalogue-button:hover{
	-fx-background-color:  #b3d1ff;
	-fx-cursor: hand;
}
.title{
	-fx-font-size: 30;
	-fx-font-family: Arial;
	-fx-font-style: italic;
}
.common-name{
	-fx-font-size: 18;
	-fx-font-family: Arial;
}
/* .table-column{
	-fx-background-color: #ffffff;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
}*/
.green-fill{
	-fx-stroke: #2eb82e;
	-fx-fill: #2eb82e;
}
.plantOwned{
	-fx-font-size: 15;
	-fx-font-family: Arial;
	-fx-text-fill: #2eb82e;
	-fx-font-weight: bold;
}
.red-fill{
	-fx-stroke: #ff0000;
	-fx-fill: #ff0000;
}
.plant-not-owned{
	-fx-font-size: 15;
	-fx-font-family: Arial;
	-fx-text-fill: #ff0000;
	-fx-font-weight: bold;
}
.prompt-label{
	-fx-font-size: 14;
}
#pricelist-table .table-column{
	-fx-alignment: center;
}
.transparent-brown{
	-fx-opacity: 0.5;
	-fx-fill: #663300;
}
.transparent-green{
	-fx-opacity: 0.5;
	-fx-fill: #00aa00;
}

.transparent-darkbrown{
	-fx-opacity: 0.5;
	-fx-fill: #331100;
}

.transparent-yellow{
	-fx-opacity: 0.5;
	-fx-fill: #aaaa00;
}

.transparent-red{
	-fx-opacity: 0.5;
	-fx-fill: #aa0000;
}

.transparent-blue{
	-fx-opacity: 0.5;
	-fx-fill: #0000aa;
}
.grid-bck{
	-fx-background-image: url("./grid.png");
	-fx-border-color: black;
}
.white-bck{
	-fx-border-width: 1 1 1 1;
	-fx-border-color: #d9d9d9;
	-fx-background-color: #ffffff;
}
.tree-view {
    -fx-background-color:#f5f5f0;
}

.tree-cell {
    -fx-background-color:#f5f5f0;
}

.tree-view:focused .tree-cell:filled:selected {
    -fx-background-color:#666666;
}

.tree-cell:filled:selected{
    -fx-background-color:#bfbfbf;
}
.title-region{
	-fx-alignment: center;
	-fx-font-size: 14;
	-fx-font-family: arial;
	-fx-font-weight: bold;
}
.title-region-plant{
	-fx-alignment: center;
	-fx-font-weight: bold;
	-fx-font-family: arial;
}
.region-plants-num{
	-fx-font-size: 30;
	-fx-font-weight: bold;
	-fx-alignment: center;
}
