/bin/

.classpath

.project

.settings
/resources/
/src/test/
/src/org/unibl/etf/util/config.properties
/libs/i*
src/org/unibl/etf/gui/plants/view/TestView\.fxml

src/org/unibl/etf/gui/plants/view/TestViewController\.java

css/a\.css

css/right\.png

css/add\.png

css/delete\.png

css/left\.png

css/select\.png

css/draw\.png

css/pricelist\.png

css/modify\.png

css/refresh\.png

css/save\.png

css/search\.png

css/print\.png
