/Basis.class
/Condition.class
/Customer.class
/Employee.class
/EmployeeHasTask.class
/EmployeeHasTaskId.class
/Event.class
/Plant.class
/PlantMaintanceActivity.class
/PriceHeightRatio.class
/PriceHeightRatioId.class
/Pricelist.class
/PricelistHasPlant.class
/PricelistHasPlantId.class
/Purchase.class
/Region.class
/ReproductionCutting.class
/ReproductionCuttingId.class
/Sale.class
/SaleItem.class
/SaleItemId.class
/Task.class
/Tool.class
/ToolItem.class
/ToolMaintanceActivity.class
/ToolMaintanceActivityId.class
/Transaction.class
